<div class="big"><a id="big" href="{{ item1.url }}">{{ item1.title }}</a><br/><span class="big_page">- <span id="item1">{{ item1.category }}</span> -</span></div>
<div class="small"><a id="small" href="{{ item2.url }}">{{ item2.title }}</a><br/>- <span id="item2">{{ item2.category }}</span> -</div>
<div class="big"><a id="big" href="{{ item3.url }}">{{ item3.title }}</a><br/><span class="big_page">- <span id="item3">{{ item3.category }}</span> -</span></div>
<div class="small"><a id="small" href="{{ item4.url }}">{{ item4.title }}</a><br/>- <span id="item4">{{ item4.category }}</span> -</div>
